.button {
    background-color: var(--lilac);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: var(--write);
    margin: 32px 0;
}

.button:hover {
    color: var(--hover);
}