.collaborator {
    position: relative;
    width: 280px;
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 2rem;
  
}

.collaborator .header {
    border-radius: 10px 10px 0px 0px;
}
.collaborator .imgColaborator {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.collaborator .footer {
    background: var(--write);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
   
}

.collaborator .footer h4 {
    color: var(--lilac);
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    
}

.collaborator .footer h5 {
    font-size: 18px;
    line-height: 22px;
    color: var(--lightBlack);
    padding: 0 16px;
}
