.textField {
    margin: 24px 0;
}

.textField label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.textField input {
    background-color: var(--backgroundInput);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;

}
