:root{
  --font:'Montserrat', sans-serif;
  --backgroundInput:#fff;
  --backgroundForm:#F2F2F2;
  --write:#FFFFFF;
  --lilac:#6278F7;
  --hover:#95FFD4;
  --lightBlack:#212121;

}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
