.container {
    position: relative;
    text-align: center;
    color: var(--branco);
    padding: 0 1.5rem 6.5rem;
}
.span404{
    display: block;
    color: var(--lilac);
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
